@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ProfilePage2 #outer-container{
    padding: 32px 32px 10px 32px;
    font-family: 'Poppins', sans-serif;
    max-width: 1124px;
    background-color: #F5F6FA;
}
.ProfilePage2 #outer-container h2{
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 24px;
}
.ProfilePage2 #profile-container{
    background-color: #fff;
    max-width: 1124px;
    padding: 32px;
    font-family: 'Poppins', sans-serif;
    border-radius: 16px;
}
.ProfilePage2 #second-container{
    font-family: 'Manrope', sans-serif;
}
.ProfilePage2 #profile-container h2{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
    display: block;
}
.ProfilePage2 #upload-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 48px 53px;
    border: 1px dashed #E7E7E7;
    background-color: #FCFCFC;
    border-radius: 10px;
    margin-bottom: 24px;
}
.ProfilePage2 #upload-button img {
    margin-bottom: 12px;
}

.ProfilePage2 .p-row {
    display: flex;
    gap: 24px;
}

.ProfilePage2 .input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 24px;
}

.ProfilePage2 .p-row label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px; /* Space between label and input */
}

.ProfilePage2 .p-row input{
    height: 45px;
    padding-left: 16px;
    border: 1px solid #F2F2F2;
    border-radius: 12px;
}
.ProfilePage2 .p-row input::placeholder{
    font-size: 14px;
    color: #a1a1a1;
}
.ProfilePage2 .p-row textarea{
    min-height: 94px;
}

.ProfilePage2 #business-desc{
    border: 1px solid #F2F2F2;
    border-radius: 12px;
    font-family: 'Manrope', sans-serif;
    padding: 16px;
    resize: none;
}

.ProfilePage2 #p-row-last {
    display: flex;
    flex-direction: column;
}
.ProfilePage2 #p-row-last h2{
    font-size: 20px !important;
    margin-bottom: 0 !important;
}
.ProfilePage2 .selection-group {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.ProfilePage2 .selection-group input {
    margin-right: 8px;
}
.ProfilePage2 .selection-group label{
    color: #a1a1a1;
    font-size: 16px;
    margin-left: 12px;
}
.ProfilePage2 .custom-radio {
    display: none;
}

.ProfilePage2 .custom-radio + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.ProfilePage2 .custom-radio + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.ProfilePage2 .custom-radio:checked + label::before {
    border:none;
    background-color: #000;
}

.ProfilePage2 .custom-radio:checked + label::after {
    content: '✔';
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 16px;
}
.ProfilePage2 #profile-container #button-container{
    display: flex;
    justify-content: flex-end;
}
.ProfilePage2 #profile-container button{
    height: 56px;
    width: 186px;
    color: #fff;
    background-color: #000;
    border: none;
    outline: none;
    border-radius: 12px;
    justify-content: flex-end;
    font-size: 18px;
    cursor:pointer;
}
